<%= render 'layouts/vheader' %>
<h1>Editing article</h1>
 <div class="container">
   <div class="row">
     <div class="col-md-12"> 
     <%= render 'form' %>
    </div>
  </div>
</div>
 
<%= link_to 'Back', announcements_path %>